  <%- include('header.ejs') %>

<!-- ================= HERO BANNER SECTION ================= -->
<section class="hero-wrapper">
  <div class="hero-banner">
    <img src="https://images.meesho.com/images/marketing/1767796583251.webp" alt="Meesho Banner">
  </div>

  <div class="hero-features">
    <div class="feature-item">
      <span class="feature-icon">📦</span>
      <span>7 Days Easy Return</span>
    </div>

    <div class="feature-item">
      <span class="feature-icon">💵</span>
      <span>Cash on Delivery</span>
    </div>

    <div class="feature-item">
      <span class="feature-icon">🏷️</span>
      <span>Lowest Prices</span>
    </div>
  </div>
</section>

<section>
    
</section>


  <%- include('footer.ejs') %>